@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
}
.parent1 {
display: flex;
flex-wrap: nowrap;
flex-direction: row;
width: 100%;
height: 32px;
background: #323232;

}
.child1 {
    display: flex;
    flex-basis: 960px;
    flex-direction: row;
   /* border: 1px solid white; */
    height: 32px;
    width: 50%;
    justify-content: flex-end;
    align-items: center;

    
   
}
.elem1 {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   margin-right: 58px;

   
}
.e1{
   display: flex;
   flex-direction: row;
   width: 12px;
   height: 18px;
   justify-content:flex-start;
   align-items: center;
}
.e2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 11px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

}
.elem2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    left: 58px;
}
.e3 {
   display: flex; 
   flex-direction: row;
   width: 12px;
   height: 18px;
   justify-content:flex-start;
   align-items: center;
   margin-right: 14px;
   
   
}
.e4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 209px 0 0;
   
  

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;

}


.child2 {
    display: flex;
    flex-basis: 960px;
    flex-direction: row;
    /*border: 1px solid white;*/
    height: 32px;
    width: 50%;
    justify-content: flex-end;
    align-items: center;

}
.elem3 {
    display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   margin: 0 0px 0 23px;
}
.e5 {
    display: flex;
    flex-direction: row;
    width: 12px;
    height: 18px;
    justify-content:flex-start;
    align-items: center;
    margin-right: 10px;
}
.e6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:0 23px 0 10px;

    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
text-decoration-line: underline;

color: #FFFFFF;
}
.elem4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.e7 {
    display: flex; 
   flex-direction: row;
   width: 12px;
   height: 18px;
   justify-content:flex-start;
   align-items: center;
   margin: 0 9.82px 0 0;
}
.e8 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 315px;

    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;
}
